// ============================================================================
// Row healper
//
// Titled .l-row for layout-row. This was done to avoid conflicts with
// Twitter's .row
// ============================================================================

// Config
// ============================================================================
$size-list: 5px, 10px, 20px, 30px;

// Loop
// ============================================================================
@for $i from 1 through length($bp-name-list) {
    $size-name: nth($bp-name-list, $i);
    $size: nth($size-list, $i);

    .l-row-#{$size-name} {
        @extend .cf;

        margin-top: $size;
        margin-bottom: $size;
    }

    // Default size
    @if $size-name == 'sm' {
        .l-row {
            @extend .l-row-sm;
        }
    }
}
